<section class="pg">

  <!-- Título da página -->

  <h2 class="titulo-pg">Início</h2>

  <!-- Card -->

  <app-card [titulo]="''" [width]="'70%'">

    <!-- Opções 'Editar Perfil', 'Matches' e 'Consultar Mentores/Aprendizes' -->

    <div class="row mb-3">

      <div class="col">
        <button type="button" class="btn btn-dark d-block mx-auto w-50" routerLink="/editar-perfil">
          Editar Perfil
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" class="bi bi-person-circle mx-2" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
          </svg>
        </button>
      </div>

      <div class="col">
        <button type="button" class="btn btn-primary d-block mx-auto w-50">
          Matches
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" class="bi bi-hand-thumbs-up-fill mx-2" viewBox="0 0 16 16">
            <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a10 10 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733q.086.18.138.363c.077.27.113.567.113.856s-.036.586-.113.856c-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.2 3.2 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.8 4.8 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
          </svg>
        </button>
      </div>
    </div>

    <button type="button" class="font-weight-bold btn btn-success my-3 w-100 btn-lg negrito">
      Consultar Mentores/Aprendizes
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search mx-2" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
      </svg>
    </button>

    <!-- Pesquisa avançada -->

    <div class="accordion accordion-flush mt-3" id="pesquisa-avancada">
      <div class="accordion-item">

        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#opcao-1" aria-expanded="false" aria-controls="opcao-1">
            <p class="negrito">Pesquisa avançada</p>
          </button>
        </h2>

        <div id="opcao-1" class="accordion-collapse collapse" data-bs-parent="#pesquisa-avancada">
          <div class="accordion-body">

            <div class="col mx-auto mb-3 w-50">
              <label for="area" class="form-label">Área de Conhecimento</label>
              <select id="area" class="form-select">
                <option *ngFor="let area of areasEnum" [value]="area">{{ area }}</option>
              </select>
            </div>

            <div class="row mb-3 mt-5">
              <div class="col"></div>
              <div class="col">
                <button type="button" class="btn btn-dark d-block mx-auto">
                  Pesquisar
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search mx-2" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                  </svg>
                </button>
              </div>

              <div class="col">
                <button type="button" class="btn btn-danger d-block mx-auto">
                  Retirar filtro
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" class="bi bi-x-lg mx-2" viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                  </svg>
                </button>
              </div>
              <div class="col"></div>

            </div>
          </div>
        </div>

      </div>
    </div>

  </app-card>

</section>

<section class="area-cards mt-5">
  <app-card-aprendiz></app-card-aprendiz>
  <app-card-mentor></app-card-mentor>
</section>



