<section class="pg">

  <!-- Título da página -->

  <h2 class="titulo-pg">{{ tipoCadastro === 'Aprendiz' ? 'Editar Interesses' : 'Editar Habilidades' }}</h2>

  <!-- Card -->

  <app-card [titulo]="tipoCadastro === 'Aprendiz' ? 'Selecione os Interesses' : 'Selecione as Habilidades'" [width]="'30%'">

    <!-- Checkboxes das áreas -->

    <div class="form-check mx-5 mb-2" *ngFor="let area of areasEnum">
      <input
        class="form-check-input"
        type="checkbox"
        [value]="area"
        id="flexCheckDefault{{ area }}"
        (change)="toggleSelecionado(area)"
      >
      <label class="form-check-label" [for]="'flexCheckDefault' + area">
        {{ area }}
      </label>
    </div>

    <!-- Botões de 'Cancelar' e 'Voltar' -->

    <div class="row mt-5 mb-3">

      <div class="col">
        <button (click)="voltarEditarPerfil()" type="button" class="btn btn-danger d-block mx-auto w-50">
          Cancelar
        </button>
      </div>

      <div class="col">
        <button (click)="salvarInteresses()" type="button" class="btn btn-dark d-block mx-auto w-50">
          Salvar
        </button>
      </div>

    </div>

  </app-card>

</section>
