<section class="pg">

  <!-- Título da página -->

  <h2 class="titulo-pg">Editar Formação</h2>

  <!-- Card -->

  <app-card [titulo]="''" [width]="'70%'">

    <!-- Opções 'Voltar', 'Incluir Formação' e 'Consultar Formações' -->

    <div class="row mb-3">

      <div class="col">
        <button (click)="navegarVoltarEditarPerfil()" type="button" class="btn btn-danger d-block mx-auto w-50">
          Voltar
        </button>
      </div>

      <div class="col">
        <button (click)="navegarIncluirFormacao()" type="button" class="btn btn-dark d-block mx-auto w-50">
          Incluir Formação
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-circle-fill mx-3" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
          </svg>
        </button>
      </div>

    </div>

    <button (click)="consultarFormacoes()" type="button" class="font-weight-bold btn btn-success my-3 w-100 btn-lg negrito">
      Consultar Formações
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search mx-2" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
      </svg>
    </button>

  </app-card>

</section>

<section class="area-cards mt-5">

  <div *ngIf="tipoCadastro === 'Aprendiz'">
    <div *ngFor="let formacao of formacoesAprendiz">
      <app-card-form-aprendiz
        [nomeInstituicao]="formacao.instAprdz"
        [nivelEnsino]="formacao.nivelFormAprdz"
        [nomeCurso]="formacao.cursoAprdz"
      >
      </app-card-form-aprendiz>
    </div>
  </div>

  <div *ngIf="tipoCadastro === 'Mentor'">
    <div *ngFor="let formacao of formacoesMentor">
      <app-card-form-mentor
        [nomeInstituicao]="formacao.instMentor"
        [nivelEnsino]="formacao.nivelFormMentor"
        [nomeCurso]="formacao.cursoMentor"
      >
      </app-card-form-mentor>
    </div>
  </div>

</section>
