.pg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  .negrito{
    font-weight: 700;
  }

  .titulo-pg {
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    align-self: center;
  }
}
